#detail-content,
.popupLayer .contentLayer {
  width: 100%;
  padding: 0 84px;
}
#detail-content hr,
.popupLayer .contentLayer hr {
  border-color: #ddd;
}
#detail-content a.picturebox,
.popupLayer .contentLayer a.picturebox {
  display: block;
  position: relative;
}
#detail-content a.picturebox .picture,
.popupLayer .contentLayer a.picturebox .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center;
  background-size: contain;
  z-index: 2010;
}
#detail-content a.picturebox .picture.picture_thumb,
.popupLayer .contentLayer a.picturebox .picture.picture_thumb {
  z-index: 2000;
}
#detail-content .other,
.popupLayer .contentLayer .other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
#detail-content .other .detail,
.popupLayer .contentLayer .other .detail {
  font-size: 1.4rem;
  margin-bottom: 8px;
  min-height: 128px;
  min-width: 1px;
}
#detail-content .other .author,
.popupLayer .contentLayer .other .author {
  font-size: 1rem;
  color: #5d5d5d;
  display: block;
  padding: 0.4rem 0px 0px;
  margin-bottom: 16px;
}
#detail-content .other .tags ul,
.popupLayer .contentLayer .other .tags ul {
  line-height: 1;
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}
#detail-content .other .tags ul li,
.popupLayer .contentLayer .other .tags ul li {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  margin: 0px 1em 0px 0px;
  padding: 0.15em 0px;
  white-space: nowrap;
}
#detail-content .bottom-part,
.popupLayer .contentLayer .bottom-part {
  margin-top: 32px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#detail-content .bottom-part .info-piece img.avatar,
.popupLayer .contentLayer .bottom-part .info-piece img.avatar {
  width: ;
  height: ;
}
#detail-content .bottom-part .info-piece .property,
.popupLayer .contentLayer .bottom-part .info-piece .property {
  color: #999;
}
#detail-content .bottom-part .info-piece .detail,
.popupLayer .contentLayer .bottom-part .info-piece .detail {
  line-height: 1.2;
  color: #444;
  background-color: #fafafa;
  padding: 15px;
  margin-bottom: 20px;
  word-wrap: break-word;
}
#detail-content .bottom-part .info-piece hr,
.popupLayer .contentLayer .bottom-part .info-piece hr {
  margin-left: -12px;
  margin-right: -12px;
  color: #ededed;
}
#detail-content .bottom-part .comments .comment .meta,
.popupLayer .contentLayer .bottom-part .comments .comment .meta {
  margin: 0 0 8px 72px;
}
#detail-content .bottom-part #pin_view_add_comment textarea,
.popupLayer .contentLayer .bottom-part #pin_view_add_comment textarea {
  width: 568px;
  height: 60px;
  min-height: 60px;
  resize: vertical;
  margin-bottom: 10px;
  display: block;
  line-height: 1.5;
  padding: 5px 10px;
  font-size: 16px;
  color: #777;
  background: #fcfcfc none repeat scroll 0% 0%;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05) inset;
}
.popupLayer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.92);
  z-index: 2000;
  overflow: auto;
}
.popupLayer * {
  color: #332;
}
.popupLayer .btnLayer .closeBtn {
  position: fixed;
  cursor: pointer;
  top: 0px;
  right: 14px;
  width: 56px;
  height: 56px;
  z-index: 2900;
}
.popupLayer .btnLayer .closeBtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  margin: -18px 0 0 -18px;
  background: url("../i/btn_close_layer.png") no-repeat scroll 0px 0px;
}
.popupLayer .prevBtn,
.popupLayer .nextBtn {
  position: fixed;
  top: 40%;
  bottom: 0;
  width: 84px;
  height: 150px;
  z-index: 2800;
  background: url("../i/pin_view_arrows.png") no-repeat scroll;
  cursor: pointer;
}
.popupLayer .prevBtn {
  left: 0;
  background-position: 10px 0;
}
.popupLayer .prevBtn:hover {
  background-position: 10px -165px;
}
.popupLayer .nextBtn {
  right: 14px;
  background-position: -72px 0;
}
.popupLayer .nextBtn:hover {
  background-position: -72px -165px;
}
