
# thinkphp 默认
.idea
*.log

# 编辑器工程文件
.project
*.sublime-workspace

# 运行时目录
/runtime/

# 生产环境配置
/application/database.php
/application/extra/*
!/application/extra/*.demo.php

# 用户上传目录
/public/uploads