{extend name="common:base" /}

{block name="body"}

<div class="detail-content">
    <div class="am-g am-g-fixed">
        <div class="am-u-sm-11 am-u-md-5 am-u-lg-4 am-u-sm-centered card">
            <h2>注册天佑时光账号</h2>
            <hr>
            <div class="am-btn-group">
                <h4>1.注册需要进行身份验证</h4>
                <div id="tylogin_button">
                    <a href="javascript: void(0);"
                        class="am-btn am-btn-secondary am-btn-sm"
                        onclick="sync_signin(this)">重庆交通大学 统一身份认证</a>
                </div>
                <div class="am-hide" id="tylogin_name">
                    <p class="am-text-sm">用户 <code></code> 认证成功 ! <a href="javascript: ty_logout();"><small>注销</small></a></p>
                </div>
            </div>
            <form class="am-form am-margin-top-lg">
                <h4>2.验证成功后即可开始注册</h4>
                <div class="am-form-group">
                    <input type="email" name="email" id="email" placeholder="请输入邮箱" data-validation-message="别闹, 输入合法的邮箱" required />
                </div>
                <div class="am-form-group">
                    <input type="text" name="nickname" id="nickname" placeholder="请输入昵称" required minlength="2" maxlength="12" />
                </div>
                <div class="am-form-group">
                    <input type="password" name="password" id="password" placeholder="请输入 6-16 位密码" required minlength="6" maxlength="16" />
                </div>
                <div class="am-form-group am-g-collapse am-cf">
                    <label for="captcha" class="am-u-sm-12 am-u-lg-5 am-form-label">
                        <div id="captcha-img" title="刷新验证码"><img src="{:captcha_src()}" alt="captcha" /></div>
                    </label>
                    <div class="am-u-sm-12 am-u-lg-7">
                        <input type="number" name="captcha" id="captcha" class="am-form-field" placeholder="4 位数字验证码" autocomplete="off" required minlength="4" maxlength="4" />
                    </div>
                </div>

                <div class="am-cf">
                    <button type="submit" class="am-btn am-btn-success am-btn-block">注 册</button>
                </div>
                <div class="am-cf">
                    <a href="/auth" class="am-btn am-btn-link am-btn-sm am-padding-left-0">已有账号? 直接登陆</a>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}


{block name="js"}
<script type="text/javascript" src="__STATIC__/js/jquery.cookie.js"></script>
<script type="text/javascript">

    // 异步身份认证
    function sync_signin(e) {
        var text = $(e).html();
        $(e).addClass('am-disabled').html('<i class="am-icon am-icon-circle-o-notch am-icon-spin"></i> ' + text);
        window.open('/api/tylogin', '授权确认 - 天佑互联', 'width=760, height=650, menubar=no, toolbar=no');
        $(e).html(text).removeClass('am-disabled');

    }

    // 实时认证状态检测
    function timer() {
        var timerMain = setInterval(function() {
            $ecardno = $.cookie().ecardno;
            if ($ecardno) {
                $('#tylogin_button').addClass('am-hide');
                $('#tylogin_name').removeClass('am-hide').find('code').text($ecardno);
                // 停止计时器
                clearInterval(timerMain);
            } else {
                $('#tylogin_button').removeClass('am-hide');
                $('#tylogin_name').addClass('am-hide');
            }
            // 修正页脚位置
            footer_replace();
        }, 400);
    }

    // 启动认证状态检测
    timer();

    // 异步注销认证状态
    function ty_logout() {
        $.ajax({
            url: '/api/tylogout',
        })
        .always(function() {
            // 重启计时器
            timer();
        });
    }

    $('form').validator({
        onValid: function(validity) {
            $(validity.field).closest('.am-form-group').find('.am-alert').remove();
            if($('.valid').size() == 0) {
                $('button[type="submit"]').attr('disabled', false);
            }
        },
        onInValid: function(validity) {
            var $field = $(validity.field);
            var $group = $field.closest('.am-form-group');
            var $alert = $group.find('.am-alert');
            // 使用自定义的提示信息 或 插件内置的提示信息
            var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

            if (!$alert.length) {
                $alert = $('<div class="am-alert am-alert-danger valid"></div>').hide().appendTo($field.parent('div'));
            }

            $alert.html(msg).show();
            $('button[type="submit"]').attr('disabled', true);
        }
    });

    $('form').on('submit', function(event) {
        $.ajax({
            url: '/auth/register',
            type: 'POST',
            data: $('form').serialize(),
        }).done(function(data) {
            if (data.code) {
                console.log("success");
            } else {
                amalert(data.msg);
                $('#captcha-img').click();
                $('#captcha').val('');
                console.log(JSON.stringify(data));
            }
        }).fail(function(data) {
            amalert("出了点错误, 请刷新试试..");
            $('#captcha-img').click();
            $('#captcha').val('');
            console.log(JSON.stringify(data));
        })
        return false;
    });

</script>
{/block}
