.share-detail {
  width: 100%;
  padding: 0 84px;
}
.share-detail hr {
  border-color: #ddd;
}
.share-detail a.picturebox {
  display: block;
  position: relative;
}
.share-detail a.picturebox .picture {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center;
  background-size: contain;
  z-index: 2010;
}
.share-detail a.picturebox .picture.picture_thumb {
  z-index: 2000;
}
.share-detail .other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.share-detail .other .detail {
  font-size: 1.4rem;
  margin-bottom: 8px;
  min-height: 128px;
  min-width: 1px;
}
.share-detail .other .author {
  font-size: 1rem;
  color: #5d5d5d;
  display: block;
  padding: 0.4rem 0px 0px;
  margin-bottom: 16px;
}
.share-detail .other .tags ul {
  line-height: 1;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: outside none none;
}
.share-detail .other .tags ul li {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0.15em 0;
  white-space: nowrap;
}
.share-detail .bottom-part {
  margin-top: 32px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.share-detail .bottom-part .info-piece img.avatar {
  width: 60px;
  height: 60px;
}
.share-detail .bottom-part .info-piece .property {
  color: #999;
}
.share-detail .bottom-part .info-piece .detail {
  line-height: 1.2;
  color: #444;
  background-color: #fafafa;
  padding: 15px;
  word-wrap: break-word;
}
.share-detail .bottom-part .info-piece hr {
  margin-left: -12px;
  margin-right: -12px;
  color: #ededed;
}
.share-detail .bottom-part .score .hint {
  font-size: 1.6rem;
  font-family: 'Georgia', '微软雅黑';
}
.share-detail .bottom-part .user-share .thumb {
  display: block;
  width: 100%;
  height: 100px;
  background: transparent center no-repeat;
  background-size: cover;
}
.comment-widget .comments .comment {
  display: flex;
  margin: 0 -1.25rem;
  padding: 1.6rem 1.25rem;
  border-bottom: 1px solid #ededed;
}
.comment-widget .comments .comment:last-child {
  border-bottom: 0;
}
.comment-widget .comments .comment .comment-body {
  margin-top: 4px;
}
.comment-widget .comments .comment .comment-body .detail {
  margin-bottom: 0;
  padding: 0.82rem;
  line-height: 1.6em;
  color: #555;
}
.comment-widget .comments .no-comment {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 96px;
  color: #bbb;
}
.comment-widget .comment-edit {
  display: flex;
  flex-flow: row nowrap;
}
.comment-widget .avatar {
  flex-shrink: 0;
  display: block;
  height: 60px;
  width: 60px;
  background: #eee center no-repeat;
  background-size: cover;
}
.comment-widget .comment-right {
  width: 100%;
  margin-left: 1.25rem;
}
.comment-widget .comment-right textarea {
  display: block;
  width: 100%;
  height: 60px;
  min-height: 60px;
  max-height: 240px;
  background: #eee;
  margin-bottom: 0.4rem;
  padding: 5px 10px;
  border: 0;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05) inset;
  resize: vertical;
  line-height: 1.5;
  color: #777;
}
.user-index #banner {
  margin: -16px 0 16px;
  height: 200px;
  background: transparent url("../i/user_banner.png") no-repeat center;
  background-size: cover;
}
.user-index .panel-tags .am-panel-bd {
  line-height: 2.4em;
}
.user-index .panel-shares .s-box {
  margin-bottom: 12px;
}
.user-index .panel-shares .s-box .image {
  position: relative;
  display: block;
  height: 120px;
  width: 100%;
  background: transparent no-repeat center;
  background-size: cover;
  margin-bottom: 4px;
}
.user-index .panel-shares .s-box .image .detail {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.533);
  font-size: 12px;
  color: #ddd;
  margin: 0;
  padding: 2px 4px;
}
.popupLayer {
  display: none;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.92);
  z-index: 2000;
  overflow: auto;
  transition: 0.3s all ease-in-out;
}
.popupLayer .btnLayer .closeBtn {
  position: fixed;
  cursor: pointer;
  top: 0px;
  right: 14px;
  width: 56px;
  height: 56px;
  z-index: 2900;
}
.popupLayer .btnLayer .closeBtn i {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  margin: -18px 0 0 -18px;
  background: url("../i/btn_close_layer.png") no-repeat scroll;
}
.popupLayer .prevBtn,
.popupLayer .nextBtn {
  position: fixed;
  top: 40%;
  bottom: 0;
  width: 84px;
  height: 150px;
  z-index: 2800;
  background: url("../i/pin_view_arrows.png") no-repeat scroll;
  cursor: pointer;
}
.popupLayer .prevBtn {
  left: 0;
  background-position: 10px 0;
}
.popupLayer .prevBtn:hover {
  background-position: 10px -165px;
}
.popupLayer .nextBtn {
  right: 14px;
  background-position: -72px 0;
}
.popupLayer .nextBtn:hover {
  background-position: -72px -165px;
}
.pager {
  margin-top: 4rem;
}
.am-sticky-placeholder {
  float: left;
  width: 100%;
}
.floor {
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.photos {
  font-size: 0px;
  min-height: 400px;
}
.heart-container {
  clear: both;
  margin-bottom: 20px;
  height: 150px;
}
.heart-container p {
  font-family: "Microsoft YaHei", 'Georgia', Times, Times New Roman, serif;
  font-size: 25px;
}
.heart {
  width: 80px;
  height: 80px;
  background: url("../i/web_heart_animation.png") no-repeat left center;
  background-size: cover;
  cursor: pointer;
}
.heart:hover,
.heart:focus {
  background-position: right;
}
.heartAnimation {
  display: inline-block;
  background-position: right;
  animation: heartBlast 0.8s steps(28);
}
@-moz-keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-webkit-keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@-o-keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes heartBlast {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
