.am-panel {
  border-radius: 4px;
}
.am-panel > .am-panel-hd:first-child {
  border-radius: 4px 4px 0 0;
}
.am-panel .am-panel-footer {
  border-radius: 0 0 4px 4px;
}
.am-text-gray {
  color: #888;
}
@media screen and (min-width: 1701px) {
  .am-g-fixed {
    max-width: 1600px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1700px) {
  .am-g-fixed {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .am-g-fixed {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .am-g-fixed {
    max-width: 960px;
  }
}
@media screen and (min-width: 840px) and (max-width: 1023px) {
  .am-g-fixed {
    max-width: 820px;
  }
}
.line-clamp-3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  line-height: 1.6em;
  max-height: 4.800000000000001em;
}
.am-pagination > li > a,
.am-pagination > li span {
  margin-bottom: 0;
}
* {
  font-family: "微软雅黑", "microsoft yahei";
}
body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  background: #000 url("../i/bgnoise.gif") repeat;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.nav {
  z-index: 60;
  height: 30px;
  min-height: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.nav .am-topbar-nav > li a,
.nav .am-topbar-nav > li span {
  line-height: 29px;
  font-size: 12px;
}
.nav .am-topbar-nav > li a::after,
.nav .am-topbar-nav > li span::after {
  display: none;
}
.nav .am-topbar-nav > li span {
  margin: 0 12px;
  color: #fff;
}
.nav .am-topbar-nav > li.am-active > a {
  color: #fff;
}
.nav .am-topbar-nav > li > a {
  color: #333;
}
.nav .am-topbar-nav > li > a:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}
.nav .am-topbar-right .add-share {
  margin-left: 12px;
}
.nav .am-topbar-right li {
  margin-left: 0;
}
.nav .am-topbar-form,
.nav .am-topbar-btn {
  margin-top: 0;
  height: 30px;
}
.nav.am-sticky {
  background: #f8f8f8 !important;
  border-width: 0 0 1px !important;
}
.nav.am-sticky .am-topbar-nav > li > a {
  color: #333 !important;
}
.nav.am-sticky .am-topbar-nav > li > a:hover {
  background-color: rgba(0,0,0,0.1);
}
.nav.am-sticky .am-topbar-nav > li.am-active > a {
  color: #0e90d2;
}
.topic-block {
  width: 100%;
  height: 170px;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
}
.topic-block a.logo {
  display: block;
  width: 220px;
  height: 105px;
  background: transparent none no-repeat scroll left center;
  background-size: contain;
  z-index: 100;
  margin: 16px 0;
}
.topic-block .nav {
  background: rgba(0,0,0,0.33);
  border-width: 0;
  border-color: rgba(0,0,0,0.33);
  transition: all 0.2s ease;
  margin-top: -30px;
}
.topic-block .nav .am-topbar-nav > li > a {
  color: #fff;
}
.topic-background {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center top !important;
  width: 100%;
  height: 180px;
  margin: -10px 0;
}
.topic-block-blur-wrap {
  position: relative;
  height: 30px;
  width: 100%;
  overflow: hidden;
  z-index: 50;
}
.topic-block-blur {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 50px;
  background-position: center top !important;
  filter: blur(5px);
}
.footer {
  background-color: #1b1c1d;
  color: #cce2ff;
  padding: 36px 16px;
  margin-top: 48px;
  line-height: 28px;
  width: 100%;
  bottom: 0px;
  transition: all 0.2s ease 0s;
}
.footer p,
.footer a {
  font-size: 13px;
}
.footer .container {
  max-width: 1140px;
  margin: 10px auto;
}
.footer .container .slogan {
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
  margin-top: 24px;
  margin-bottom: 48px;
}
.footer hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: #e5e5e5 -moz-use-text-color -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
}
.footer .copyright {
  margin-top: 16px;
  padding-left: 4em;
}
.footer .subscrib_us {
  padding-left: 4em;
  line-height: 1.53846;
  margin-top: 16px;
}
.footer .qrcode {
  text-align: center;
}
.footer .qrcode img {
  height: 100px;
}
.title-bar {
  height: 96px;
  margin-bottom: 12px;
}
.title-bar .title {
  padding-top: 16px;
  font-weight: 375;
}
.title-bar .cate-info {
  font-size: 12px;
}
.title-bar .title-bg {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 96px;
  background-color: #fff;
  z-index: -1;
  box-shadow: 0 2px 4px #555;
}
.card {
  box-shadow: 3px 3px 6px #888;
  background-color: #fff;
  padding: 2rem;
}
#captcha-img {
  cursor: pointer;
}
.flash {
  animation-name: flash;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.slowly {
  animation-duration: 1.6s;
}
@-moz-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-o-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
