{extend name="common/base" /}

{block name="css"}
{load href="__STATIC__/css/amazeui.tagsinput.css" /}
<style>
.preview-container {position: relative;overflow: hidden}
.preview-container > .am-badge {position: absolute;top: 1px;left: 1px;z-index: 1;cursor: default;}
.preview-container > .exif-information {
    display: none;position: absolute;left: 0;top: 0;
    background-color: rgba(0,0,0,.4);
    color: #fff;
    font-size: 1.1rem;
    max-height: 100%;
    overflow: auto;
    margin: 0;
    padding: 1.8rem .75rem .5rem;
}
.preview-container > .am-badge:hover + .exif-information {display: block;}
.preview-container > .exif-information:hover {display: block;}
#preview-img {max-height: 600px;max-width: 100%;}
</style>
{/block}

{block name="body"}
<div class="am-g am-g-fixed">
<div class="am-u-sm-12">
    <form class="am-form" method="POST" action="__ROOT__/share">
    <fieldset>
        <legend>添加分享</legend>

        <div class="am-g">
            <div class="am-u-sm-6">
                <div class="am-form-group am-form-file">
                    <div class="am-inline">
                        <button type="button" class="am-btn am-btn-danger am-btn-sm">
                            <i class="am-icon-cloud-upload"></i> 选择要上传的图片
                        </button>
                        <input id="doc-form-file" type="file">
                    </div>
                    <div class="am-inline am-badge-xl" id="file-list"></div>
                </div>
                <div class="preview-container">
                    <span class="am-badge am-hide">EXIF</span>
                    <pre class="exif-information"></pre>
                    <img id="preview-img" src="">
                </div>
            </div>
            <div class="am-u-sm-6">
                <div class="am-form-group">
                    <label>分区</label><br>
                    <select name="cate_id" required
                        data-am-selected="{btnSize: 'sm'}">
                        <option></option>
                        {volist name="category_list" id="vo"}
                        <option value="{$key}">{$vo}</option>
                        {/volist}
                    </select>
                    <span class="am-form-caret"></span>
                </div>
                <div class="am-form-group">
                    <label for="tags-ipt"> 标签 </label><br>
                    <input id="tags-ipt" name="tag_id" type="text">
                </div>

                <div class="am-form-group">
                    <label for="tags-ipt"> 制作/拍摄日期 </label>
                    <input class="am-form-field" type="text" name="photo_date" />
                </div>

                <div class="am-form-group">
                    <label for="doc-ta-1"> 描述
                        <small class="am-link-muted"> 120字内, 可留空</small>
                    </label>
                    <textarea rows="5" name="detail" maxlength="255"></textarea>
                </div>

                <input type="text" name="exif" class="am-hide">
                <button type="submit" class="am-btn am-btn-success"
                    onclick="return beforeSubmit()">提交</button>
            </div>
        </div>
    </fieldset>
    </form>
</div>
</div>
{/block}


{block name="js"}
{load href="__STATIC__/js/amazeui.tagsinput.min.js" /}
{load href="__STATIC__/js/exif.js" /}
<script>
$(function() {
    // 图片上传控件
    $('#doc-form-file').on('change', function() {
        var fileNames = '';
        $.each(this.files, function() {
            fileNames = '<span class="am-badge">' + this.name + '</span> ';
        });
        $('#file-list').html(fileNames);
    });

    // 标签输入控件
    $('#tags-ipt').tagsinput({
        trimValue: true,
        maxChars: 16,
    })

    // 图片本地预览
    var input = document.getElementById("doc-form-file");
    if (typeof FileReader === 'undefined'){
        result.innerHTML = "<p class='warn'>抱歉，你的浏览器不支持 FileReader</p>";
        input.setAttribute('disabled','disabled');
    } else {
        input.addEventListener('change',readFile,false);
    }

    // 日期选择插件 ( 禁止选定当日之后的日期 )
    var now = new Date();
    var nowDay = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0, 0).valueOf();
    var nowMoth = new Date(now.getFullYear(), now.getMonth(), 1, 0, 0, 0, 0).valueOf();
    var nowYear = new Date(now.getFullYear(), 0, 1, 0, 0, 0, 0).valueOf();
    var checkin = $('input[name="photo_date"]').datepicker({
        onRender: function(date, viewMode) {
            var viewDate = nowDay;
            switch (viewMode) {
              case 1: viewDate = nowMoth;break;
              case 2: viewDate = nowYear;break;
            }
            return date.valueOf() > viewDate ? 'am-disabled' : '';
        },
        format: 'yyyy-mm-dd'
    }).data('amui.datepicker');
});

// 图片本地预览控件
function readFile(){
    var file = this.files[0];
    if(!/image\/\w+/.test(file.type)){
        alert("请确保文件为图像类型");
        return false;
    }
    var reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = function(e){
        $('#preview-img').attr('src', this.result);
    }
    reader.onloadend = function(e){
        var image = new Image();
        image.onload = function() {
            EXIF.getData(this, function(){
                var _dataTxt = EXIF.pretty(this);
                // 待上传的图片是否含有 EXIF 信息
                if (_dataTxt != '') {
                    $('.exif-information').text(_dataTxt);
                    $('.preview-container>.am-badge').removeClass('am-hide');
                    // 自动填充
                    var _dataJson = EXIF.getAllTags(this);
                    $('input[name="exif"]').val(JSON.stringify(_dataJson));
                    auto_fill_via_exif(_dataJson);
                } else {
                    $('.preview-container>.am-badge').addClass('am-hide');
                    $('input[name="exif"]').val('');
                }
            });
        }
        image.src = $('#preview-img').attr('src');
    };
}

/**
 * 根据 EXIF 自动填充字段
 * @author 杨栋森 mutoe@foxmail.com at 2016-12-25
 *
 * @param  {object}   exif  json格式
 */
function auto_fill_via_exif(exif) {
    var photo_time = exif.DateTimeOriginal1 || exif.DateTimeDigitize || exif.DateTime;
    if (!photo_time) return;
    photo_time = photo_time.substring(0, 10).split(':').join('-');
    $('input[name="photo_date"]').attr('value', photo_time);
    // 修复 amazeui datepicker 插件无法自动定位到当前时间
    $('input[name="photo_date"]').datepicker('setValue', photo_time);
}

function beforeSubmit () {
    // 检测图片
    if (!$('#file-list').html()) {
        $('#am-alert-content').text('先选择一个图片在上传吧');
        $('#am-alert').modal('open');
        return false;
    }
    // 未填拍摄时间时设置为当前时间
    if (!$('[name="photo_date"]').val()) {
        var now = new Date();
        now = now.toLocaleDateString().split('/').join('-');
        $('[name="photo_date"]').attr('value', now);
    }
    // 检测分类
    if (!$('[name="cate_id"]').val()) {
        $('#am-alert-content').text('必须选择一个分区');
        $('#am-alert').modal('open');
        return false;
    }
    return true;
}

</script>
{/block}