{extend name="common/base" /}

{block name="body"}

<div id="detail-content">
	<div class="am-g am-margin-bottom-xl">
		<div class="am-u-md-7">
			<a class="picturebox" href="">
				<img id="picLoadHandle" src="__PUBLIC__/{$data.savepath}{$data.savename}" style="visibility: hidden;position: absolute;z-index: -1;width: 1px;height: 1px;"/>
				<div class="picture picture_thumb" style="background-image: url(__PUBLIC__/{$data.savepath}t_{$data.savename});"></div>
				<div id="picture" class="picture" style="background-image: url(__PUBLIC__/{$data.savepath}{$data.savename});"></div>
			</a>
		</div>
		<div class="am-u-md-5">
			<div class="other">
				<p class="detail">
					{$data.detail}
				</p>
				<a class="author" href="#">
					—— {$data.user_id|get_nickname} <br />
					{$data.time|date="Y.n.j",###}
				</a>

			</div>
		</div>
	</div>
	<hr />
	<div class="bottom-part">
		<div class="am-g am-g-collapse">
			<div class="am-u-sm-8">
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd info-piece">
<!-- info-piece start -->
<div class="am-fl am-margin-right">
	<img class="avatar" src="http://pic.cqjtu.edu.cn/base/avatar/user_id/{$data.user_id}/size/middle.html"/>
</div>
<div class="am-fl">
	<a class="nickname am-text-lg am-link-muted am-padding-vertical-sm" href="">{$data.user_id|get_nickname}</a>
	<p class="property am-text-xs am-margin-top-xs am-margin-bottom-0">上传至 <a href="">分类名</a> 于 4日前</p>
</div>
<div class="am-cf"></div>
{if condition="!empty($data.detail)"}
<div class="detail am-text-sm am-margin-top">{$data.detail}</div>
{/if}
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a><a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq"></a><a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<hr />
<div class="comments">
	<div class="comment">
		<a href="" title="{$data.user_id|get_nickname}" class="am-margin-right-sm am-fl">
			<img class="avatar" src="http://pic.cqjtu.edu.cn/base/avatar/user_id/39139/size/middle.html">
		</a>
		<div class="meta am-text-sm">
			<a href="" class="author">{$data.user_id|get_nickname}</a>&nbsp;-&nbsp;<span class="">1 分钟前</span>说：
		</div>
		<div class="am-text-sm">baqi</div>
		<div class="action-buttons">
			<a class="reply-button" data-name="{$data.user_id|get_nickname}" title="回复"></a>
			<a class="delete" data-url="/pins/603526568/comments/1342199/" title="删除"></a>
		</div>
		<div class="am-cf"></div>
	</div>
</div>
<hr />
<div id="pin_view_add_comment">
	<a href="" title="mutoe" class="am-margin-right-sm">
		<img class="avatar" src="/user/avatar/39139">
	</a>
	<textarea class="clear-input am-fr" autocomplete="off" name="caption" placeholder="添加评论"></textarea>
	<div class="am-cf"></div>
	<button class="am-btn am-btn-xs am-btn-warning am-fr">添加评论</button>
	<div class="am-cf"></div>
</div>
<!--<hr />
-->
<!-- info-piece end -->
					</div>
				</div>
			</div>
			<div class="am-u-sm-4" style="padding-left: 1.6rem;">
				<div class="am-panel am-panel-default">
					<div class="am-panel-bd">
						面板内容
					</div>
				</div>

			</div>
		</div>
		{$data|dump}
	</div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">

	$(document).ready(function() {
	    $(".picture").css('height', $(window).height());
	    $(".other").css('height', $(window).height());
    	$("html,body").animate({scrollTop: $("#detail-content").offset().top},200);
	});

	$(window).scroll(function(event){
		$('#nav-sticky').sticky();
		if($(window).scrollTop() > $(".bottom-part").offset().top) {
			$("#nav-sticky").addClass('am-sticky');
		} else {
			$("#nav-sticky").removeClass('am-sticky');
		}
    });

</script>
{/block}