{extend name="common/base" /}

{block name="body"}
<div id="pjax-container">
<div class="share-detail">

<div class="am-g am-margin-bottom-xl">
    <div class="am-u-md-8">
        <a class="picturebox" href="__ROOT__/{$data.profile.savepath}{$data.profile.savename}" target="_blank" title="查看原图">
            <img id="picLoadHandle" src="__ROOT__/{$data.profile.savepath}{$data.profile.savename}"
                style="visibility: hidden;position: absolute;z-index: -1;width: 1px;height: 1px;"/>
            <div class="picture picture_thumb"
                style="background-image: url(/{$data.profile.savepath}t_{$data.profile.savename});"></div>
            <div id="picture" class="picture"
                style="background-image: url(__ROOT__/{$data.profile.savepath}{$data.profile.savename});"></div>
        </a>
    </div>
    <div class="am-u-md-4">
        <div class="other">
            <div class="heart-container" title="喜欢 !">
                <div class="heart" id="star-btn" rel="like"></div>
            </div>
            <p class="detail">
                {$data.profile.detail}
            </p>
            <a class="author" href="#">
                —— {$data.user.nickname} <br />
                {$data.profile.photo_date}
            </a>
        </div>
    </div>
</div>

<script>
// 收藏动画
$('#star-btn').on('click', function(event) {
    $(this).css("background-position", "");
    if ($(this).attr('rel') === 'like') {
        $(this).addClass("heartAnimation").attr("rel", "unlike");
    } else {
        $(this).removeClass("heartAnimation").attr("rel", "like");
        $(this).css("background-position", "left");
    }
    $.get('__ROOT__/share/{$data.share_id}/star', function(data) {
        console.log(data)
        if (data.msg != 'stared') {
            $(this).removeClass("heartAnimation").attr("rel", "like");
            $(this).css("background-position", "left");
        }
    });
});
</script>

<hr />
<div class="bottom-part">
    <div class="am-g">
        <div class="am-u-lg-4 am-u-lg-push-8 am-u-md-5 am-u-md-push-7">
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">评分</div>
                <div class="am-panel-bd">
                    <div class="score">
                        <span id="score-widget" class="target am-margin-right-xs"></span>
                        <span id="score-hint" class="hint"></span><br>
                        <small id="score-callback">
                            {if condition="$score"}
                            你的评分: {$score}分! (你只可以一天评分一次)
                            {else /}
                            1 分也是爱, 高分作品更容易被别人看到哦 !
                            {/if}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-u-lg-8 am-u-lg-pull-4 am-u-md-7 am-u-md-pull-5">
            <div class="am-panel am-panel-default">
                <div class="am-panel-bd info-piece">
                    <div class="am-fl am-margin-right">
                        <img class="avatar" src=""/>
                    </div>
                    <div class="am-fl">
                        <a class="nickname am-text-lg am-link-muted am-padding-vertical-sm"
                            href="">{$data.user.nickname}</a>
                        <p class="property am-text-xs am-margin-top-xs am-margin-bottom-0">
                            上传至 <a href="">分类名</a> 于 4日前
                        </p>
                    </div>
                    <div class="am-fr">
                        <p class="am-text-gray am-margin-top-0 am-text-xs">
                            {if condition="$data.user_id == auth_status('user_id')"}
                            被收藏: <span class="am-margin-right-xs">{$data.star}</span>
                            {/if}
                            浏览量: <span class="am-margin-right-xs">{$data.click}</span>
                            评分次数: <span id="score_count" class="am-margin-right-xs">{$data.score_count}</span>
                            得分: <span id="share_score">{$data.score}</span>
                        </p>
                    </div>
                    <div class="am-cf"></div>
                    {if condition="!empty($data.profile.detail)"}
                    <div class="detail am-text-sm am-margin-top">
                        {$data.profile.detail}
                    </div>
                    {/if}
                </div>
            </div>
            <div class="am-panel am-panel-default">
                <div class="am-panel-hd">大家怎么说</div>
                <div class="am-panel-bd info-piece">
                    <div class="comments">
                        <div class="comment">
                            <a href="" title="{$data.user.nickname}" class="am-margin-right-sm am-fl">
                                <img class="avatar" src="">
                            </a>
                            <div class="meta am-text-sm">
                                <a href="" class="author">{$data.user.nickname}</a>
                                &nbsp;-&nbsp;<span class="">1 分钟前</span>说：
                            </div>
                            <div class="am-text-sm">baqi</div>
                            <div class="action-buttons">
                                <a class="reply-button" data-name="{$data.user.nickname}" title="回复"></a>
                                <a class="delete" data-url="" title="删除"></a>
                            </div>
                            <div class="am-cf"></div>
                        </div>
                    </div>
                    <hr />
                    <form id="pin_view_add_comment" class="am-cf">
                        <textarea class="clear-input" style="width: 100%;" autocomplete="off" name="caption" placeholder="我也说两句" rows="2"></textarea>
                        <small>{:auth_status('nickname')}</small>
                        <button type="submit" class="am-btn am-btn-xs am-btn-link am-fr">添加评论</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
(function() {

var option = {
    number: 10,
    score: {$score ?: 'undefined'}, // TODO: 默认评分
    readOnly: {$score ? 'true' : 'false'},
    targetType: 'score',
    path: '__STATIC__/i/star',
    target: '#score-hint',
    cancel: false,
    size: 24,
    space: false,
    width: 200,
    targetKeep: true,
    click: function(score, evt) {
        $.post('__ROOT__/share/{$data.share_id}/score', {score: score}, function(data) {
            if (data.code) {
                $('#score-callback').text('加分成功! 对方感受到了你的鼓励!');
                option.readOnly = true;
                option.score = score;
                $('#score-widget').raty(option);
                $('#score_count, #share_score').addClass('animated flash');
                setTimeout(function() {
                    document.getElementById('score_count').innerHTML++;
                    document.getElementById('share_score').innerHTML -= -score;
                }, 1000);
            } else {
                $('#score-callback').text(data.msg);
            }
        });
    },
};

$('#score-widget').raty(option);

})()
</script>
</div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">

$(document).ready(function() {
    $(".picture").css('height', $(window).height());
    $(".other").css('height', $(window).height());
    $("html,body").animate({scrollTop: $(".share-detail").offset().top},200);
});

/*$(window).scroll(function(event){
    $('#nav-sticky').sticky();
    if($(window).scrollTop() > $(".bottom-part").offset().top) {
        $("#nav-sticky").addClass('am-sticky');
    } else {
        $("#nav-sticky").removeClass('am-sticky');
    }
});*/

</script>
{/block}
