{extend name="common/base" /}

{block name="css"}
<style type="text/css">
    .am-sticky-placeholder {
        float: left;
        width: 100%;
    }
    .floor {margin-top: 4rem;margin-bottom: 6rem;}
    .photos {font-size: 0px;min-height: 400px;}
</style>
{/block}

{block name="nav"}
<div class="topic-block">
    <div class="topic-block-blur-wrap">
        <div class="topic-block-blur" style='background-image: url(__STATIC__/i/banner.jpg);'></div>
    </div>
    <div class="topic-background" style='background-image: url(__STATIC__/i/banner.jpg);'></div>
    <div class="center" style="position: absolute;width: 100%;">
        <div class="am-g am-g-fixed">
            <a href="" style="background-image: url();" class="logo"></a>
        </div>

    </div>
    {include file="common/nav" /}
</div>
{/block}

{block name="body"}
<div id="floor-wrap">
    <div class="am-g am-g-fixed">
        {volist name="index_cate_array" id="cate" key="cate_key"}
        <section class="floor {if condition='$cate_key <= 2'}loaded{/if}" data-cate-id="{$cate.cate_id}">
            <div class="title-bar">
                <div class="title-bg"></div>
                <h2 class="title">
                    {$cate.name} <small>{$cate.description}</small>
                </h2>
                <p class="cate-info">
                    该分区下共有分享 {$cate.total_share} 张.
                    总点击量 {$cate_click_list[$cate.cate_id]} 次.
                    <a href="__ROOT__/cate/{$cate.cate_id}">
                        进入分区 <i class="am-icon am-icon-angle-double-right"></i>
                    </a>
                </p>
            </div>
            <div class="item-wrap">
                <div class="photos">
                    {if condition="$cate_key <= 2"}
                    {volist name="cate.data" id="data"}
                    <div class="photo">
                        <a class="pjaxlink" href="__ROOT__/share/{$data.share_id}">
                            <img src="__ROOT__/{$data.savepath}t_{$data.savename}">
                        </a>
                    </div>
                    {/volist}
                    {/if}
                </div>
            </div>
        </section>
        {/volist}
    </div>
</div>

<div class="popupLayer">
    <div class="btnLayer">
        <div class="closeBtn"><i></i></div>
        <div class="prevBtn"></div>
        <div class="nextBtn"></div>
        <div class="goTopBtn"></div>
    </div>
    <div class="contentLayer"></div>
</div>
{/block}

{block name="js"}
<script type="text/javascript">
    $('#nav-sticky').sticky();
</script>

{load href="__STATIC__/js/jquery.xgallerify.min.js" /}
<script type="text/javascript">
$('.photos').gallerify({
    margin: 2,
    mode: 'bootstrap',
    lastRow: 'hidden'
});

// 懒加载
$(window).on('scroll', function() {
    $('section[data-cate-id]:not(.loaded)').each(function(index, el) {
        if ($(window).scrollTop() + $(window).height() + 800 < $(el).offset().top) return;
        $(el).addClass('loaded');
        $.ajax({
            url: '__ROOT__/index/sync_load',
            type: 'POST',
            data: {cate_id: $(el).data('cate-id')},
            success: function(data) {
                data = $.parseJSON(data);
                $(data).each(function(index, share) {
                    var html = '<div class="photo">';
                    html += '<a class="pjaxlink" href="__ROOT__/share/'+ share.share_id +'">';
                    html += '<img src="__ROOT__/'+ share.savepath +'t_'+ share.savename +'">';
                    html += '</a></div>';
                    $(el).find('.photos').append(html);
                });
                $(el).find('.photos').gallerify.renderAsyncImages();
            }
        });
    });
});
</script>

{load href="__STATIC__/js/jquery.pjax.js" /}
<script type="text/javascript">
// pjax支持检测
if ($.support.pjax) {
    $(document).pjax('a.pjaxlink', '.contentLayer', {
        fragment:'#detail-content', scrollTo: false, timeout: 1650
    });

    $(document).on('pjax:send', function() {
        $.AMUI.progress.start();
        //在pjax发送请求时，显示loading动画层
        $("body").css('overflow', 'hidden');
        $('.popupLayer').show();
        $.AMUI.progress.inc(0.2);

    });
    $(document).on('pjax:complete', function() {
        $.AMUI.progress.inc(0.4);
        $(".picture").css('height', $(window).height());
        $(".other").css('height', $(window).height());
        $('#picLoadHandle').load(function(){
            $.AMUI.progress.done();
        });

    });

    // 后退监听
    $(document).on('pjax:popstate', function() {
        $.AMUI.progress.done();
        $(".popupLayer").scrollTop(0).hide();
        $("body").css('overflow', 'auto');
    });

    $(".closeBtn").on('click', function() {
        window.history.go(-1);
    });
    // 按下ESC键时返回
    $(window).keydown(function(event){
        if(event.which == 27 && $(".popupLayer").css('display') == "block") {
            window.history.go(-1);
        }
    });

}
</script>
{/block}
