
// panel 圆角化
panel-radius = 4px
.am-panel
    border-radius panel-radius
    .am-panel-hd
        border-radius panel-radius panel-radius 0 0
    .am-panel-footer
        border-radius 0 0 panel-radius panel-radius
