
// panel 圆角化
panel-radius = 4px
.am-panel
    border-radius panel-radius
    > .am-panel-hd:first-child
        border-radius panel-radius panel-radius 0 0
    .am-panel-footer
        border-radius 0 0 panel-radius panel-radius

// 调整 fixed 宽度限制
@media screen and (min-width 1701px)
    .am-g-fixed
        max-width 1600px

@media screen and (min-width 1441px) and (max-width 1700px)
    .am-g-fixed
        max-width 1400px

@media screen and (min-width 1281px) and (max-width 1440px)
    .am-g-fixed
        max-width 1200px

@media screen and (min-width 1024px) and (max-width 1280px)
    .am-g-fixed
        max-width 960px

@media screen and (min-width 840px) and (max-width 1023px)
    .am-g-fixed
        max-width 820px

// 多行截断
line-clamp(lines, line-height= 1.6em)
    text-overflow ellipsis;
    display -webkit-box;
    -webkit-box-orient vertical;
    -webkit-line-clamp lines; // number of lines to show
    overflow hidden;
    line-height line-height;
    max-height line-height * lines

.line-clamp-3
    line-clamp(3)

// 分页底部外边距修正
.am-pagination > li
    > a, span
        margin-bottom 0
