<!doctype html>
<html lang="cn" class="no-js">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="天佑时光 - 印象交大分享平台">
    <meta name="keywords" content="天佑 天佑时光 图片 分享 重庆交通 大学 印象 交大">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}天佑时光 - 印象交大分享平台{/block}</title>

    <!-- 额外 meta 标签和 css 库 -->
    {include file="common:head" /}

    <!-- 页面样式 -->
    {block name="css"}{/block}

</head>
<body>

    <!-- 天佑通用导航条 -->
    {block name="commonnav"}
    <div class="am-show-lg-only">
        <script charset="gbk" src="//ty.cqjtu.edu.cn/navbar/nav.js"></script>
    </div>
    {/block}

    <!-- 副导航 -->
    {block name="nav"}
    {include file="common:nav" /}
    {/block}

    <!-- 本体 -->
    {block name="body"}{/block}

    <!-- 页脚 -->
    {include file="common:footer" /}

    <!-- javascript 脚本 -->
    {include file="common:js" /}

    <!-- 页面脚本 -->
    {block name="js"}{/block}

    <!-- modal 窗口 -->
    {include file="common:modal" /}

</body>
</html>
