<!doctype html>
<html lang="cn" class="no-js">
	<head>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{block name="title"}天佑时光 - 印象交大分享平台{/block}</title>

		<!-- Set render engine for 360 browser -->
		<meta name="renderer" content="webkit">

		<!-- No Baidu Siteapp-->
		<meta http-equiv="Cache-Control" content="no-siteapp"/>

		<link rel="icon" type="image/png" href="__STATIC__/i/favicon.png">

		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="__STATIC__/i/app-icon72x72@2x.png">

		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
		<link rel="apple-touch-icon-precomposed" href="__STATIC__/i/app-icon72x72@2x.png">

		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<meta name="msapplication-TileImage" content="__STATIC__/i/app-icon72x72@2x.png">
		<meta name="msapplication-TileColor" content="#0e90d2">

        {load href="__STATIC__/css/amazeui.min.css" /}
        {load href="__STATIC__/css/app.css" /}
        {load href="__STATIC__/css/common.css" /}


        {block name="css"}{/block}

	</head>
	<body>

		<!-- 天佑通用导航条 -->
		{block name="commonnav"}
		<script charset="gbk" src="//ty.cqjtu.edu.cn/navbar/nav.js"></script>
		{/block}

		<!-- 副导航 -->
		{block name="nav"}
		{include file="common\nav" /}
		{/block}

        {block name="body"}{/block}

        {block name="footer"}
		<div class="footer" style="position: relative;">
			<div class="container">
				<div class="am-g">
					<div class="am-u-md-4 am-u-md-centered">
						<h1 class="slogan">天佑青春 激荡年华</h1>
					</div>
				</div>
				<hr>
				<div class="am-g">
					<div class="am-u-md-5 center-align copyright">
						<p class="am-margin-bottom-xs">Copyright ©2015 TianYou Network Studio. All Right Reserved .</p>
						<a href="http://www.miitbeian.gov.cn/" target="_blank">渝ICP备11007697号 </a>
					</div>
					<div class="am-u-md-3 subscrib_us">
						<p class="am-margin-bottom-xs">
							<em class="am-icon am-icon-weibo am-icon-lg"></em>
							<a href="http://weibo.com/cqjtuty/" target="_black"> @重庆交通大学天佑工作室</a>
						</p>
<!--						<p class="am-margin-top-xs">
							<em class="am-icon am-icon-comments-o am-icon-lg"></em> 天佑龙门阵(149344566)
							<br>
						</p>-->
					</div>
					<div class="am-u-md-4 qrcode">
						<img src="__STATIC__/i/footer/qrcode1.jpg" title="天佑工作室" alt="天佑工作室" style="margin-right: 54px;">
						<img src="__STATIC__/i/footer/qrcode2.jpg" title="重交小学妹" alt="重交小学妹">
					</div>
				</div>
			</div>
		</div>

		<div class="am-modal am-modal-alert" tabindex="-1" id="am-alert">
			 <div class="am-modal-dialog">
			    <div class="am-modal-hd">天佑时光</div>
			    <div class="am-modal-bd"><p id="am-alert-content"></p></div>
			    <div class="am-modal-footer">
			      	<span class="am-modal-btn">确定</span>
			    </div>
			 </div>
		</div>
        {/block}

        {include file="common\js" /}
        {block name="js"}{/block}

	</body>
</html>