
<!-- 设置 360 浏览器默认极速内核 -->
<meta name="renderer" content="webkit">

<!-- 禁止 Baidu Siteapp -->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="icon" type="image/png" href="__STATIC__/i/favicon.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="__STATIC__/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

{load href="__STATIC__/css/amazeui.min.css" /}
{load href="__STATIC__/css/common.css" /}
{load href="__STATIC__/css/app.css" /}
