
<!-- 设置 360 浏览器默认极速内核 -->
<meta name="renderer" content="webkit">

<!-- 禁止 Baidu Siteapp -->
<meta http-equiv="Cache-Control" content="no-siteapp"/>

<link rel="icon" type="image/png" href="__STATIC__/i/favicon.png">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="__STATIC__/i/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#0e90d2">

{load href="__STATIC__/css/amazeui.css" /}
{load href="__STATIC__/css/common.css" /}
{load href="__STATIC__/css/app.css" /}

<!--[if (gte IE 9)|!(IE)]><!-->
{load href="__STATIC__/js/jquery.min.js" /}
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
{load href="__STATIC__/js/amazeui.ie8polyfill.min.js" /}
<![endif]-->