
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__STATIC__/i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="__STATIC__/i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="Amaze UI" />
<script src="__STATIC__/js/echarts.min.js"></script>
<link rel="stylesheet" href="__STATIC__/css/amazeui.min.css" />
<link rel="stylesheet" href="__STATIC__/css/amazeui.datatables.min.css" />
<link rel="stylesheet" href="__STATIC__/css/admin.tpl.css">
<script src="__STATIC__/js/jquery.min.js"></script>
