
<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable am-text-center">
            <div class="tpl-user-panel-profile-picture am-center">
                <img src="__STATIC__/i/default_avatar.jpg" alt="">
            </div>
            <span class="am-text-warning">超级管理员</span>
            <span class="user-panel-logged-in-text">
                <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                {$user_data.nickname}
            </span>
            <a href="javascript:;" class="tpl-user-panel-action-link">
                <span class="am-icon-pencil"></span> 账号设置
            </a>
        </div>
    </div>

    <!-- 菜单 -->
    <ul class="sidebar-nav">
        <li class="sidebar-nav-heading">
            Site Processer <span class="sidebar-nav-heading-info"> 站务管理</span>
        </li>
        <li class="sidebar-nav-link">
            <a href="__ROOT__/admin/" class="active">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 投稿审核
                <span class="am-badge am-badge-secondary sidebar-nav-link-logo-ico am-round am-fr am-margin-right-sm">6</span>
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;">
                <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 首页轮播
            </a>
        </li>

        <li class="sidebar-nav-heading">
            Advanced Manage<span class="sidebar-nav-heading-info"> 高级管理</span>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;">
                <i class="am-icon-clone sidebar-nav-link-logo"></i> 站点信息
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-users sidebar-nav-link-logo"></i> 用户管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="javascript:;">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 用户管理
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;">
                        <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 角色管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;">
                <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 站点日志
            </a>
        </li>

    </ul>
</div>
