{extend name="common/base" /}

{block name="title"}个人中心 -{/block}

{block name="body"}
<div id="pjax-content">
<div class="user-index">

<div class="am-g">
    <div id="banner" class="am-cf"></div>
    <div class="am-g-fixed am-center">
        <div class="am-u-lg-3 am-u-md-4 l-side">

            <!-- 个人资料组件 -->
            {include file="user:profile-widget" /}

            <!-- 标签云 -->
            <div class="am-panel am-panel-default panel-tags">
                <div class="am-panel-hd">标签云</div>
                <div class="am-panel-bd">
                    <span class="am-badge am-radius am-badge-primary">deft</span><small>(1)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-sm">small</span><small>(3)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-default">nrmal</span><small>(7)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-sm">all</span><small>(3)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-lg">large</span><small>(64)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-sm">smll</span><small>(3)</small>

                </div>
            </div>

        </div>
        <div class="am-u-lg-9 am-u-md-8 r-side">
            <!-- 投稿 -->
            {assign name="panel_title" value="投稿一览" /}
            {include file="share:list_widget" /}
        </div>
    </div>
</div>

</div>
</div>
{/block}
