{extend name="common/base" /}

{block name="title"}个人中心 -{/block}

{block name="body"}
<div id="pjax-content">
<div class="user-index">

<div class="am-g">
    <div id="banner" class="am-cf"></div>
    <div class="am-g-fixed am-center">
        <div class="am-u-lg-3 am-u-md-4 l-side">

            <!-- 个人资料组件 -->
            {include file="user:profile-widget" data="$data" self="true" /}

            <!-- 标签云 -->
            <div class="am-panel am-panel-default panel-tags">
                <div class="am-panel-hd">标签云</div>
                <div class="am-panel-bd">
                    <span class="am-badge am-radius am-badge-primary">deft</span><small>(1)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-sm">small</span><small>(3)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-default">nrmal</span><small>(7)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-sm">all</span><small>(3)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-lg">large</span><small>(64)</small>
                    <span class="am-badge am-radius am-badge-primary am-text-sm">smll</span><small>(3)</small>

                </div>
            </div>

        </div>
        <div class="am-u-lg-9 am-u-md-8 r-side">
            <div class="am-panel am-panel-default panel-shares">
                <div class="am-panel-hd">
                    <span class="am-margin-right">投稿管理</span>
                    <small class="am-margin-right">排序: <a href="">最新</a> <a href="">最多点击</a> <a href="">最多收藏</a></small>
                    <small>过滤器</small><!-- 向下弹出横条 按分类 标签过滤图片 -->
                </div>
                <div class="am-panel-bd">
                    <ul class="am-avg-lg-4 am-avg-md-3 am-avg-sm-2 am-thumbnails shares">
                        <li class="s-box">
                            <a href="__ROOT__/share/184"><img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" /></a>
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>
                        <li class="s-box">
                            <img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" />
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>
                        <li class="s-box">
                            <img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" />
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>
                        <li class="s-box">
                            <img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-4.jpg" />
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>
                        <li class="s-box">
                            <img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" />
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>
                        <li class="s-box">
                            <img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" />
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>
                        <li class="s-box">
                            <img class="am-img-responsive" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" />
                            <p class="am-text-truncate detail">第一次合影 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <div class="am-g am-g-collapse am-text-xs am-padding-xs">
                                <div class="am-u-sm-6">总分: 257</div>
                                <div class="am-u-sm-6">评价: 27</div>
                                <div class="am-u-sm-6">浏览: 5821</div>
                                <div class="am-u-sm-6">被赞: 521</div>
                                <div class="am-u-sm-12 am-padding-top-xs">
                                    <a class="am-btn am-badge am-badge-secondary am-radius am-btn-xs" href="__ROOT__/share/184/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="am-panel-footer">
                    <ul class="am-pagination am-pagination-centered am-margin-0">
                        <li class="am-disabled"><a href="#">&laquo;</a></li>
                        <li class="am-active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
{/block}

