
<div class="am-panel am-panel-default notice-widget">

    <div class="am-panel-hd">
        所有通知 (3)
        <small class="am-margin-left">筛选器</small>
        <a href=""><i class="am-icon-heart am-text-danger am-margin-horizontal-sm"></i></a>
        <a href=""><i class="am-icon-eye am-text-primary am-margin-right-sm"></i></a>
        <a href=""><i class="am-icon-star am-text-warning am-margin-right-sm"></i></a>
    </div>
    <ul class="am-list am-list-static">

        <li class="am-padding">
            <sapn class="">
                <i class="am-icon-heart am-text-danger am-icon-sm am-margin-horizontal-sm"></i>
                <a href="javascript:;">60 位</a>以上的用户收藏了你的作品
                <span class="am-badge am-radius am-margin-xs">2017.4.6</span>
                <a href="__ROOT__/share/123">二珂珂珂</a>
            </span>
            <span class="am-badge am-radius am-margin-xs am-fr">4 个小时前</span>
        </li>

        <li class="am-padding">
            <sapn class="">
                <i class="am-icon-eye am-text-primary am-icon-sm am-margin-horizontal-sm"></i>
                用户 <a href="__ROOT__/user/123">Kirito</a> 关注了你
            </span>
            <span class="am-badge am-radius am-margin-xs am-fr">4 个小时前</span>
        </li>

        <li class="am-padding">
            <sapn>
                <i class="am-icon-star am-text-warning am-icon-sm am-margin-horizontal-sm"></i>
                你的作品评分超过了 600 分
                <span class="am-badge am-radius am-margin-xs">2017.4.6</span>
                <a href="__ROOT__/share/123">二珂珂珂</a>
            <span class="am-badge am-radius am-margin-xs am-fr">4 个小时前</span>
        </li>

    </ul>

    <div class="am-panel-bd no-notice">
        <h3 class="am-margin-0 am-text-gray am-text-center">没有信息</h3>
    </div>

</div>
