
<div class="am-panel am-panel-default notice-widget">

    <div class="am-panel-hd">
        所有通知 ({$notice.count})
    </div>
    <ul class="am-list am-list-static">

        {volist name="$notice.list" id="m"}
        {switch name="$m.type"}

        {case value="score"}
        <li class="am-padding">
            <div class="am-inline-block am-text-middle">
                <i class="am-icon-star am-text-warning am-icon-sm am-margin-horizontal-sm"></i>
                你的作品评分超过了 {$m.extra.score} 分
                <span class="am-badge am-radius">{$m.extra.create_time|date='Y.n.j',###}</span>
                <a href="__ROOT__/share/{$m.extra.share_id}">#{$m.extra.share_id}</a>
            </div>
            {if condition="$m.status"}
            <span class="am-badge am-radius am-margin-xs am-fr">{$m.update_time|time_difference}前</span>
            {/if}
        </li>
        {/case}

        {/switch}
        {/volist}
    </ul>

    {if condition="!$notice.count"}
    <div class="am-panel-bd no-notice">
        <h3 class="am-margin-0 am-text-gray am-text-center">没有信息</h3>
    </div>
    {/if}

    <div class="am-panel-footer">
        {$notice.list->render()}
    </div>

</div>
