
<div class="am-panel am-panel-default panel-profile">
    <div class="am-panel-hd">
        {if condition="$myself"}
        我的资料 <a class="am-fr am-btn am-btn-link am-link-muted am-btn-xs am-padding-right-0"
            href="__ROOT__/user/{$user_data.user_id}/edit"><i class="am-icon am-icon-edit"></i> 编辑</a>
        {else /}
            {if condition="$user_data.profile.is_male"}他{else /}她{/if}的资料
        {/if}
    </div>
    <div class="am-panel-bd">
        <div class="">
            <img class="am-radius am-center am-img-responsive avatar" src="__ROOT__/static/i/default_avatar.jpg">
        </div>
        <h4 class="am-margin-sm am-text-center">{$user_data.nickname}</h4>
        <p class="detail line-clamp-3">{$user_data.profile.detail}</p>
        <hr>
        <div class="am-g am-g-collapse am-text-xs am-text-center">
            <div class="am-u-sm-4">
                总分 <br>
                <span>{$user_data.profile.score|default=0}</span>
            </div>
            <div class="am-u-sm-4">
                投稿 <br>
                <span>{$user_data.profile.share_count|default=0}</span>
            </div>
            <div class="am-u-sm-4">
                粉丝 <br>
                <span>{$user_data.profile.fans_count|default=0}</span>
            </div>
        </div>
    </div>
</div>
